<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjectX</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/myprojects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>controllers.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/addproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStagesServlet</servlet-name>
    <servlet-class>controllers.AddStagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStagesServlet</servlet-name>
    <url-pattern>/addstages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchClientsServlet</servlet-name>
    <servlet-class>controllers.SearchClientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClientsServlet</servlet-name>
    <url-pattern>/searchclients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchProjectsServlet</servlet-name>
    <servlet-class>controllers.SearchProjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectsServlet</servlet-name>
    <url-pattern>/searchprojects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSupervisorServlet</servlet-name>
    <servlet-class>controllers.AddSupervisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupervisorServlet</servlet-name>
    <url-pattern>/addsupervisor</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>controllers.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/addtask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDeveloperServlet</servlet-name>
    <servlet-class>controllers.AddDeveloperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeveloperServlet</servlet-name>
    <url-pattern>/add-developer</url-pattern>
  </servlet-mapping>
</web-app>